<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <span class="font-semibold text-xl tracking-tight">Flotiq Auth0 Example</span>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <a class="mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4" *ngIf="authService.loggedIn" routerLink="/entries">Entries</a>
  </div>
  <div class="block">
    <a class="mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4 hover-me" (click)="authService.login()" *ngIf="!authService.loggedIn">Log In</a>
    <a class="mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4 hover-me" (click)="authService.logout()" *ngIf="authService.loggedIn">Log Out</a>
    <a class="mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4" routerLink="profile" *ngIf="authService.loggedIn">Profile</a>
  </div>
</nav>


